@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("Report", "Home", FormMethod.Post, htmlAttributes: new { id = "WWID" }))
{
    <h4>To get report for particular WWID, please enter WWID and if you want to fetch all users report then keep it blank.</h4>
    <br />
    <input type="text" class="form-control" name="WWID" style="max-width:100% !important" placeholder="Search WWID" /><br />
    <input type="submit" value="Export" title="Export An Excel File" />

}